*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}
:root{
    --bg-primary-color: #0c0c0c;
    --bg-secondary-color: #aa9f9f;
    --text-primary-clor: #f0f0f0;
    /* Spacing variables */
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;

    /*Border colors*/
    --border-primary-color: #333;

    /* Border radius*/
    --border-radius-xs : 4px;
    --border-radius-sm : 8px;
    --border-radius-md : 12px;
    --border-radius-lg : 16px;
    --border-radius-xl : 20px;
    --border-radius-2xl : 24px;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-clor);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section{
    width: 100%;
    height: 100%;
}
section {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}
.board{
    margin-top: var(--space-lg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
}
.cell{
    border: 1px solid #333;
}

.snake{
    background-color: var(--bg-secondary-color);
}

.food{
    background-color: #00f000;
}
.speed div{
    display: inline-block;
}

.speed{
    display: flex;
    flex-wrap: nowrap;
    font-weight: 900;
}

#speedDown, #speedUp, #start{
    cursor: pointer;
}
.displayNone{
    display: none;
}